﻿@using Rent.Data
@{
	ViewBag.Title = ViewBag.EquipmentsType;
}

<div class="row" id="featuresHeading">
	<div class="col-12">
		<h2>@ViewBag.EquipmentsType</h2>
	</div>
</div>

<div class="row" id="features">
	@foreach (var equipment in (Equipment[]) ViewBag.Equipments)
	{
		<div class="col-sm-3 text-center">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Модель: @equipment.Name</h3>
				</div>
				<img src="../../Images/140.gif" alt="">
						
				<p>
					<strong>Описание</strong><br/>
					@{ 			
						foreach (var attribute in equipment.EquipmentAttributes)
						{
							@attribute.EquipmentTypeAttribute.Name<text>:</text>
							@Convert.ToString(attribute.Value)	
							<br />
						}

						if (equipment.EquipmentAttributes.Count == 0)
						{
							@: Параметры не заданы
						}
					}
				</p>
			</div>
		</div>
	}
</div>