﻿@model Rent.Data.EquipmentType[]
@{
    ViewBag.Title = "Каталог техники";
}

<div class="row" id="featuresHeading">
	<div class="col-12">
		<h2>Наш крутой сайт</h2>
		<p class="lead">объединенная база данных строительной техники, спецтехники и строительного оборудования, предоставляемых в аренду в Беларуси. Есть много ситуаций, когда аренда техники экономически целесообразнее приобретения оборудования. Для подрядчиков это – разовые или нерегулярные виды работ. А для застройщика самостоятельная аренда оборудования – это возможность контролировать стоимость и качество работ.
			В базе БелАренда в Беларуси 6032 ед. техники и оборудования.</p>
	</div>
</div>

<h4>Каталог техники</h4>
<div class="list-group">
	@foreach (var equipmentType in Model)
	{
		<a href="Home/Equipments/@equipmentType.Id" class="list-group-item">
			<h4 class="list-group-item-heading">@equipmentType.Name</h4>
			<p class="list-group-item-text">Какая-то инфа</p>
		</a>	
	}
</div>