﻿@model Rent.WebSite.Models.LoginModel

@{
	ViewBag.Title = "Вход";
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>@ViewBag.Title</title>

		@Styles.Render("~/Content/css")
		@Styles.Render("~/Content/login/css")
	</head>

	<body>
		<div class="container">

			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						@Html.ActionLink("Аренда техники", "Index", new { Controller = "Home" }, new { @class = "navbar-brand" })
					</div>
				</div>
			</div>

			
			@using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true)

				<h2 class="form-signin-heading">Вход</h2>
				@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Email", required = "required" })
				@Html.ValidationMessageFor(m => m.UserName)
				@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
				@Html.ValidationMessageFor(m => m.Password)
				@Html.CheckBoxFor(m => m.RememberMe, new { })
				@Html.LabelFor(m => m.RememberMe, "Запомнить?", new { @class = "checkbox" })
				<button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
			}

			<p>
				@Html.ActionLink("Register", "Register") if you don't have an account.
				@Html.Action("ExternalLoginsList", new { ViewBag.ReturnUrl }) Use another service to log in..
			</p>

		</div>

		@Scripts.Render("~/bundles/jqueryval")
	</body>
</html>