﻿@model Rent.WebSite.Models.RegisterModel

@{
	Layout = null;
	ViewBag.Title = "Регистрация";
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>@ViewBag.Title</title>

		@Styles.Render("~/Content/css")
		@Styles.Render("~/Content/login/css")
	</head>

	<body>
		<div class="container">

			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						@Html.ActionLink("Аренда техники", "Index", new { Controller = "Home" }, new { @class = "navbar-brand" })
					</div>
				</div>
			</div>
			@using (Html.BeginForm("Login", "Register", FormMethod.Post, new { @class = "form-signin", role = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary()

				<h2 class="form-signin-heading">Регистрация</h2>
				@Html.LabelFor(m => m.UserName)
				@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", required = "required" })
				@Html.LabelFor(m => m.Password)
				@Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
				@Html.LabelFor(m => m.ConfirmPassword)
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required" })
				<button class="btn btn-lg btn-primary btn-block" type="submit">Создать аккаунт</button>
			}
		</div>

		@Scripts.Render("~/bundles/jqueryval")
	</body>
</html>