﻿@model Rent.WebSite.Models.AdvertOutput
@{
	ViewBag.Title = "Add Equipment";
}

<h2>Add Equipment:</h2>

<div data-ng-app data-ng-controller="AdvertCtrl">
	<div class="form-horizontal">
			<div class="form-group">
				@Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.TextBoxFor(x => x.Name, null, new { required="required", ng_model="Name" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.BrandId, "Select the Brand: ", new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.DropDownListFor(m => m.BrandId, Model.Brands, new { ng_model="BrandId" })
				</div>
			</div>

		<div class="form-group">
			@Html.LabelFor(m => m.EquipmentTypeId, "Select the Equipment type: ", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(m => m.EquipmentTypeId, Model.EquipmentTypes, new { ng_model="EquipmentTypeId", ng_change="changedEquipmentType(EquipmentTypeId)" })
			</div>
		</div>
		
		<div class="form-group" data-ng-repeat="attr in attributes">
			<label class="control-label col-md-2">{{attr.Name}}</label>
			<div class="col-md-10">
				<input data-ng-model="attr.Value" />
			</div>
		</div>
		
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Create" class="btn btn-default" data-ng-click="save()" />
				</div>
			</div>
		</div>
	
	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>
</div>



@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/angular")

	<script type="text/javascript">
		function AdvertCtrl($scope, $http) {
			$scope.changedEquipmentType = function(equipmentTypeId) {
				$http.get('/Advert/EquipmentTypeAttributes/' + equipmentTypeId).success(function(data) {
					$scope.attributes = data;
				});
			};
			$scope.attributes = [];
			$scope.save = function() {
				var data = {
					Name: $scope.Name,
					BrandId: $scope.BrandId,
					EquipmentTypeId: $scope.EquipmentTypeId,
					Attributes: $scope.attributes.map(function (item) {
						return { Id: item.Id, Value: item.Value };
					})
				};
				$http.post('/Advert/Add', data).success(function(args) {
					window.location.href = args.redirect;
				});
				/*$http.post('/Advert/EquipmentTypeAttributes/', data).success(function (data1) {
					$scope.attributes = data1;
				});*/
			};
		}
	</script>
}