﻿@model Rent.Data.Equipment

@{
    ViewBag.Title = "AddAdvertSuccedeed";
}

<h2>Your Ad Was added successfully!</h2>

<div>
    <h4>Equipment:</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
