﻿/* --------------------------------------
   Layout
   -------------------------------------- */

footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding-top: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.container-empty {
	min-height: 200px;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

/* --------------------------------------
   Typography
   -------------------------------------- */

html, body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput {
	   width: 200px;
   }

   .navbar-brand {
	   padding: 13px 15px;
   }
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */
.col-sm-3 {
	height: 320px;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}