﻿<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Website Title & Description for Search Engine purposes -->
		<title>@ViewBag.Title</title>
		<meta name="description" content="Learn how to code your first responsive website with the new Twitter Bootstrap 3.">
		
		<!-- Mobile viewport optimized -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")

	</head>
	<body>
		<div id="wrapper">
		<div class="container" id="main">
		
			<div class="navbar">
				<div class="container">
					
					<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
					<button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				
					<a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Аренда"></a>
					
					<div class="nav-collapse collapse navbar-responsive-collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <strong class="caret"></strong></a>
								<ul class="dropdown-menu">
									<li><a href="#">Web Design</a></li>
									<li><a href="#">Web Development</a></li>
									<li><a href="#">SEO</a></li>
									<li class="divider"></li>
									<li class="dropdown-header">More Services</li>
									<li><a href="#">Content Creation</a></li>
									<li><a href="#">Social Media Marketing</a></li>
								</ul>
							</li>
						</ul>
						
						
						@using (Html.BeginForm("", "", FormMethod.Post, new {@class = "navbar-form pull-left"}))
						{
							<div class="input-group" style="max-width: 470px;">
								@Html.TextBox("Search", null, new {@class = "form-control", placeholder = "Search", id = "searchInput"})
								<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
							</div>
						}
						
						<ul class="nav navbar-nav pull-right">
							<li>@Html.ActionLink("Подать объявление", "Add", new { Controller = "Advert" })</li>
							
							@if (Request.IsAuthenticated)
							{
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> My Account <strong class="caret"></strong></a>
									<ul class="dropdown-menu">
										@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
										{
											@Html.AntiForgeryToken()
											<li><a href="/Account/Manage"><span class="glyphicon glyphicon-wrench"></span> Профайл</a></li>
											<li class="divider"></li>
											<li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
										}
									</ul>
								</li>
							}
							else
							{
								<li>@Html.ActionLink("Войти", "Login", "Account", null, new { ent_Account_Login = "true" })</li>
								<li>@Html.ActionLink("Зарегистрироваться", "Register", "Account", null, new { ent_Account_Register = "true" })</li>
								@*<li><a href="#loginModal" role="button" data-toggle="modal">Войти</a></li>
								<li><a href="#registerModal" role="button" data-toggle="modal">Зарегистрироваться</a></li>*@
							}
							
						</ul>
						
					</div>
				</div>
			</div>
			
			@*<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h2 class="text-center">Вход</h2>
						</div>
						<div class="modal-body">
							@using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form col-md-12 center-block" }))
							{
								@Html.AntiForgeryToken()
								@Html.ValidationSummary(true)

								<div class="form-group">
									<h2 class="text-left">Email</h2>
									@Html.TextBox("UserName", null, new { @class = "form-control input-lg", required = "required" })
								</div>
								<div class="form-group">
									<h2 class="text-left">Пароль</h2>
									@Html.Password("Password", null, new { @class = "form-control input-lg", required = "required" })
								</div>
								<div class="form-group">
									@Html.CheckBox("RememberMe")
									@Html.Label("", "Запомнить?")
								</div>
								<div class="form-group">
									<button class="btn btn-primary btn-lg btn-block">Войти</button>
									<span><a href="#">Need help?</a></span>
								</div>
							}
						</div>
						<div class="modal-footer">
							<div class="col-md-12">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="registerModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h2 class="text-center">Регистрация</h2>
						</div>
						<div class="modal-body">
							@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form col-md-12 center-block", role = "form" }))
							{
								@Html.AntiForgeryToken()
								@Html.ValidationSummary()				
								<div class="form-group">
									<h2 class="text-left">Email</h2>
									@Html.TextBox("UserName", null, new { @class = "form-control input-lg", required = "required" })
								</div>
								<div class="form-group">
									<h2 class="text-left">Пароль</h2>
									@Html.Password("Password", null, new { @class = "form-control input-lg", required = "required" })
								</div>
								<div class="form-group">
									<h2 class="text-left">Повтор</h2>
									@Html.Password("ConfirmPassword", null, new { @class = "form-control input-lg", required = "required" })
								</div>
								<div class="form-group">
									<button class="btn btn-primary btn-lg btn-block" type="submit">Создать аккаунт</button>
									<span><a href="#">Need help?</a></span>
								</div>
							}
						</div>
						<div class="modal-footer">
							<div class="col-md-12">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
							</div>
						</div>
					</div>
				</div>
			</div>*@
		
			<div class="container">
				@RenderSection("featured", required: false)
				@RenderBody()
			</div>

		</div>
		
			<footer class="ui-corner-bottom">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<h6>Copyright &copy; 2013 {name}</h6>
						</div><!-- end col-sm-2 -->
					
						<div class="col-sm-4">
							<h6>About Us</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div><!-- end col-sm-4 -->
					
						<div class="col-sm-2">
							<h6>Navigation</h6>
							<ul class="unstyled">
								<li><a href="#">Home</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Links</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div><!-- end col-sm-2 -->
					
						<div class="col-sm-2">
							<h6>Follow Us</h6>
							<ul class="unstyled">
								<li><a href="#">Twitter</a></li>
								<li><a href="#">Facebook</a></li>
								<li><a href="#">Google Plus</a></li>
							</ul>
						</div><!-- end col-sm-2 -->
					
						<div class="col-sm-2">
							<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
						</div><!-- end col-sm-2 -->
					</div><!-- end row -->
				</div><!-- end container -->
			</footer>
			
			<div class="container-empty"></div>

		</div>
		
		@Scripts.Render("~/bundles/jquerymin")
		@Scripts.Render("~/bundles/bootstrap")
		@*@Scripts.Render("~/bundles/angular")
		@Scripts.Render("~/bundles/app")*@
		@RenderSection("scripts", required: false)
		
		<script src="~/Scripts/app/start.min.js"></script>
		
	</body>
</html>