﻿<div class="container">
	<div class="navbar-right">
			@if (Request.IsAuthenticated)
			{
				<text>
					Привет, @Html.ActionLink(User.Identity.Name, "Manage", "Account", null, new { @class = "navbar-brand" })
					@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
					{
						@Html.AntiForgeryToken()
						<a href="javascript:document.getElementById('logoutForm').submit()" class = "navbar-brand">Выйти</a>
					}
				</text>
			}
			else
			{
				@Html.ActionLink("Зарегистрироваться", "Register", "Account", null, new {id = "registerLink", @class = "navbar-brand" })
				@Html.ActionLink("Войти", "Login", "Account", null, new {id = "loginLink", @class = "navbar-brand" })
			}
		</div>
	</div>